<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-autowire="byName">

	<!-- MVC Controllers -->

	<bean id="personController" class="com.openthinks.woms.profile.rest.PersonController"
		scope="prototype" />

	<bean id="personFindController" class="com.openthinks.woms.profile.rest.PersonFindController"
		scope="prototype" />


	<!-- MVC Model -->

	<bean id="personService"
		class="com.openthinks.woms.profile.service.impl.PersonServiceImpl" />

	<bean id="classService"
		class="com.openthinks.woms.profile.service.impl.ClassServiceImpl" />

	<bean id="personDao" class="com.openthinks.woms.profile.dao.impl.PersonDaoJpaImpl" />

	<bean id="classDao" class="com.openthinks.woms.profile.dao.impl.ClassDaoJpaImpl" />

</beans>